@use './variables' as *; // makes variables available without namespace prefix

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-sans;
  color: $color-text;
  background: $color-bg-page;
  -webkit-font-smoothing: antialiased; //webkit specific property changing how text is usually ant-aliased on macOS
  -moz-osx-font-smoothing: grayscale;
}

#app {
  height: 100dvh; // 100% dynamic viewport height (tracks actual current visible viewport - vh based on largest possible viewport)
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: $font-sans;
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 28px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: $font-serif;
  font-weight: 400;
}

p {
  color: $color-text-muted;
}
